<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contest.mapper.ActivityMapper">

    <resultMap type="com.ruoyi.contest.domain.Activity" id="ActivityResult">
        <result property="activityId" column="activity_id"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="startTime" column="start_Time"/>
        <result property="endTime" column="end_Time"/>
        <result property="deleted" column="deleted"/>
        <result property="owner" column="owner"/>
        <result property="status" column="status"/>
        <result property="publishTime" column="publish_Time"/>
        <result property="website" column="website"/>
        <result property="type" column="type"/>
        <result property="description" column="description"/>
        <result property="img" column="img"/>
    </resultMap>


</mapper>
