<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contest.mapper.ProjectMapper">

    <resultMap type="com.ruoyi.contest.domain.Project" id="ProjectResult">
        <result property="id" column="id"/>
        <result property="web" column="web"/>
        <result property="description" column="description"/>
        <result property="projectName" column="project_name"/>
        <result property="projectId" column="project_id"/>
        <result property="zipUrl" column="zip_url"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="disk" column="disk"/>
        <result property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <result property="status" column="status"/>
    </resultMap>


</mapper>
